@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Information About the Project:

    This is a simple ASP.NET MVC project that demonastrates relational tables operation with Database first approach.
    This project also performs basic CRUD operation using ViewModel, Ajax and PartialView.
    Different Data types are used here (including image) along with Authentication and other basic operations in MVC.

</p>
