@{
    ViewBag.Title = "Home Page";
}
<center>
    <div class="jumbotron" id="jumbotron">
        <h1>Library Project</h1>
        <p class="lead">This Project is prepared by MD. Jashim Uddin.<br /> ID: 1261450, Round: 46; IsDB-BISEW. </p>
        <div id="Jmg">
            <img src="~/Images/JashimUddin.jpg" width="300" height="300" alt="" />
        </div>
        <br />
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</center>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:blue;">About the  Project</h2>
        <p>
            <b>
                This is a simple ASP.NET MVC project that demonastrates relational tables operation with Database first approach.
                This project also performs basic CRUD operation using ViewModel, Ajax and PartialView.
                Different Data types are used here (including image) along with Authentication and other basic operations in MVC.
            </b>
        </p><br />
    </div>
    <div class="col-md-4">
        <h2 style="color:blue;">Technology Used</h2>
        <p>
            The following technologies are used(but not limited to) in the project:
            <ul>
                <li>ADO.NET Entity Framework</li>
                <li>MVC Database First Approach</li>
                <li>Bootstrap, Ajax, jQuery, JSON</li>
                <li>Relational Database</li>
                <li>Various Packages</li>
            </ul>
        </p><br />
    </div>
    <div class="col-md-4">
        <h2 style="color:blue;">Acknowledgement</h2>
        <p>
            Special thanks to Syed Zahidul Hassan(Consultant, IsDB-BISEW) to give the opportunity to make an amazing effort to construct an MVC project with all basic functionalities.<br />
            <strong>This project was not possible without the direct and indirect supervision of Md. Foysal Wahid(Instructor, IsDB-BISEW) for his continouse effort to make this project in reality.<br /></strong>
            I am also thankfull to all my classmates to give me support for successfull completation of the project.<br />
        </p>
    </div>
</div>